<div *ngIf="viewMode; else editable">
</div>
<ng-template #editable>
  <div *ngIf="currentTutorial.id" class="edit-form">
    <h4>Nhân viên</h4>
    <form>
      <div class="form-group">
        <label for="manv">Mã nhân viên</label>
        <input type="text" class="form-control" id="manv" [(ngModel)]="currentTutorial.manv" name="manv" />
      </div>
      <div class="form-group">
        <label for="hoten">Họ tên</label>
        <input type="text" class="form-control" id="tennhanvien" [(ngModel)]="currentTutorial.tennhanvien"
          name="tennhanvien" />
      </div>
      <div class="form-group">
        <label for="tenphongban">Tên phòng ban</label>
        <input type="text" class="form-control" id="tenphongban" [(ngModel)]="currentTutorial.tenphongban"
          name="tenphngban" />
      </div>
      <div class="form-group">
        <label for="gioitinh">Giới tính</label>
        <input type="text" class="form-control" id="gioitinh" [(ngModel)]="currentTutorial.gioitinh" name="gioitinh" />
      </div>
      <div class="form-group">
        <label for="tuoi">Tuổi</label>
        <input type="text" class="form-control" id="tuoi" [(ngModel)]="currentTutorial.tuoi" name="tuoi" />
      </div>
    </form>
    <button type="submit" class="badge badge-success mb-2" (click)="updateTutorial()">
      Update
    </button>
  </div>
</ng-template>