.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
 }
 /* Style của ô tìm kiếm */
.search-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style của nút tìm kiếm */
.search-button {
  padding: 8px 12px;
  border: 1px solid #007bff;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/* Hover effect cho nút tìm kiếm */
.search-button:hover {
  background-color: #0056b3;
}

